.app-div {
  margin: 5% 10%;
}

.array-div {
  display: flex;
  padding-top: 100px;
}

.node {
  border-style: double;
  display: inline-block;
  margin-left: 3px;
  flex-basis: 100%;
}

.buttons-div {
  margin-top: 10%;
}

