.app-div {
  margin: 35% 10%;
}

.array-div {
  display: flex;
}

.node {
  background-color: powderblue;
  border-style: double;
  display: inline-block;
  margin-left: 3px;
  flex-basis: 100%;
}

.buttons-div {
  margin-top: 10%;
}